@layer theme {
    strong {
        margin: 3rem;

        margin-bottom: 0.25rem;
    }
}

@layer theme {
    kbd {
        margin-block: 2rem;
    }
}

@layer theme {
    @layer layout {
        p {
            margin-left: 0.5rem;
        }
    }
}

@layer theme {
    @layer fake {
        strong {
            padding: 10px;
        }
    }
}

@layer theme {
    @layer div {
        strong {
            font: small;
        }
    }
}

@layer theme {
    kbd strong {
        margin: 4rem;
    }
}

@layer theme {
    @layer fake {
        @layer temp {
            strong {
                flex: start;

                padding-top: 0.333rem;
            }
        }
    }
}

@layer theme {
    @layer fake {
        strong ol:first-child {
            margin-top: 9px;
        }
    }
}

@layer theme {
    @layer fake {
        @layer temp {
            strong ol li {
                color: yellow;
            }
        }
    }
}

@layer theme {
    @layer fake {
        @layer temp {
            strong img a {
                color: #fafafa;
            }
        }
    }
}

@layer theme,
layout,
utilities;

.component {
    width: 300px;
}

@media (min-width: 1280px) {
    .component {
        width: 800px;
    }
}

@media (min-width: 768px) {
    .component {
        width: 600px;
    }
}

@media (min-width: 768px) and @media (min-resolution: 192dpi) {
    .component {
        background-image: url(/img/retina2x.png);
    }
}

img {
    width: 300px;
}

@media print {
    img .component2 {
        width: 1024;
    }
}

@media (min-width: 1280px) {
    img .component2 {
        width: 800px;
    }
}

@media (min-width: 768px) {
    img .component2 {
        width: 600px;
    }
}

@media (min-width: 768px) and @media (min-resolution: 192dpi) {
    img .component2 {
        background-image: url(/img/retina2x.png);
    }
}

color: #cacaca;

p {
    color: gray;
}

background-color: #ffffff;

table .foobar[target="_complex{,;"] {
    background-color: #888888;
    font: foo;

    align-text: center;

    float: left;
}

table td[target="_complex{,;"] {
    background-color: #888888;
    font: foo;

    align-text: center;

    float: left;
}

table .foobar[target="_complex{,;"] ul li[target="_complex{,;"]:first-child {
    float: right;
}

table td[target="_complex{,;"] ul li[target="_complex{,;"]:first-child {
    float: right;
}

table .foobar[target="_complex{,;"] small {
    color: blue;

    display: block;
}

table .foobar[target="_complex{,;"] kbd {
    color: blue;

    display: block;
}

table .foobar[target="_complex{,;"]:first-child {
    color: blue;

    display: block;
}

table td[target="_complex{,;"] small {
    color: blue;

    display: block;
}

table td[target="_complex{,;"] kbd {
    color: blue;

    display: block;
}

table td[target="_complex{,;"]:first-child {
    color: blue;

    display: block;
}

table .foobar[target="_complex{,;"] small tr div {
    background-color: pink;
}

table .foobar[target="_complex{,;"] kbd tr div {
    background-color: pink;
}

table .foobar[target="_complex{,;"]:first-child tr div {
    background-color: pink;
}

table td[target="_complex{,;"] small tr div {
    background-color: pink;
}

table td[target="_complex{,;"] kbd tr div {
    background-color: pink;
}

table td[target="_complex{,;"]:first-child tr div {
    background-color: pink;
}

span {
    color: green;
}

align: fake;

div {
    color: fa0000;

    background-color: fafa00;

    padding: 0.111rem;
}

div span {
    color: ff00cc;
}

div small {
    color: ff00cc;
}

div ol:first-child {
    background-color: dddddd;

    margin-bottom: 8px;
}

div ul {
    background-color: dddddd;

    margin-bottom: 8px;
}

@layer test {
    div ol:first-child {
        color: 333333;

        background-color: #555555;
    }
}

@layer test {
    div ul {
        color: 333333;

        background-color: #555555;
    }
}

div ol:first-child img {
    color: cc44cc;
}

div ol:first-child a {
    color: cc44cc;
}

div ul img {
    color: cc44cc;
}

div ul a {
    color: cc44cc;
}

@layer test {
    div ol:first-child tbody {
        background-color: #444444;
    }
}

@layer test {
    div ol:first-child th {
        background-color: #444444;
    }
}

@layer test {
    div ul tbody {
        background-color: #444444;
    }
}

@layer test {
    div ul th {
        background-color: #444444;
    }
}

margin-right: 9px;

margin-bottom: 2px;

aside[target="_complex{,;"] {
    margin-right: 3px;

    margin-top: 5px;

    padding-top: 6px;
}

div {
    margin-right: 3px;

    margin-top: 5px;

    padding-top: 6px;
}

aside[target="_complex{,;"] a[target="_complex{,;"] {
    padding-right: 7px;

    padding-left: 9px;
}

aside[target="_complex{,;"] p {
    padding-right: 7px;

    padding-left: 9px;
}

aside[target="_complex{,;"] span {
    padding-right: 7px;

    padding-left: 9px;
}

div a[target="_complex{,;"] {
    padding-right: 7px;

    padding-left: 9px;
}

div p {
    padding-right: 7px;

    padding-left: 9px;
}

div span {
    padding-right: 7px;

    padding-left: 9px;
}

aside[target="_complex{,;"] ol:first-child[target="_complex{,;"] {
    margin-left: 4px;

    display: block;
}

aside[target="_complex{,;"] ul {
    margin-left: 4px;

    display: block;
}

div ol:first-child[target="_complex{,;"] {
    margin-left: 4px;

    display: block;
}

div ul {
    margin-left: 4px;

    display: block;
}

aside[target="_complex{,;"] a[target="_complex{,;"] td {
    padding-bottom: 8px;
}

aside[target="_complex{,;"] a[target="_complex{,;"] tr {
    padding-bottom: 8px;
}

aside[target="_complex{,;"] p td {
    padding-bottom: 8px;
}

aside[target="_complex{,;"] p tr {
    padding-bottom: 8px;
}

aside[target="_complex{,;"] span td {
    padding-bottom: 8px;
}

aside[target="_complex{,;"] span tr {
    padding-bottom: 8px;
}

div a[target="_complex{,;"] td {
    padding-bottom: 8px;
}

div a[target="_complex{,;"] tr {
    padding-bottom: 8px;
}

div p td {
    padding-bottom: 8px;
}

div p tr {
    padding-bottom: 8px;
}

div span td {
    padding-bottom: 8px;
}

div span tr {
    padding-bottom: 8px;
}

aside[target="_complex{,;"] ol:first-child[target="_complex{,;"] tbody {
    background-color: #eeeeee;
}

aside[target="_complex{,;"] ol:first-child[target="_complex{,;"] thead {
    background-color: #eeeeee;
}

aside[target="_complex{,;"] ul tbody {
    background-color: #eeeeee;
}

aside[target="_complex{,;"] ul thead {
    background-color: #eeeeee;
}

div ol:first-child[target="_complex{,;"] tbody {
    background-color: #eeeeee;
}

div ol:first-child[target="_complex{,;"] thead {
    background-color: #eeeeee;
}

div ul tbody {
    background-color: #eeeeee;
}

div ul thead {
    background-color: #eeeeee;
}

aside[target="_complex{,;"] ol:first-child[target="_complex{,;"] tbody table {
    float: right;
}

aside[target="_complex{,;"] ol:first-child[target="_complex{,;"] thead table {
    float: right;
}

aside[target="_complex{,;"] ul tbody table {
    float: right;
}

aside[target="_complex{,;"] ul thead table {
    float: right;
}

div ol:first-child[target="_complex{,;"] tbody table {
    float: right;
}

div ol:first-child[target="_complex{,;"] thead table {
    float: right;
}

div ul tbody table {
    float: right;
}

div ul thead table {
    float: right;
}

color: #fafa22;

.w3-cell-top {
    vertical-align: top
}

.w3-cell-middle {
    vertical-align: middle
}

.w3-cell-bottom {
    vertical-align: bottom
}

.w3-hide {
    display: none !important
}

.w3-show-block,
.w3-show {
    display: block !important
}

.w3-show-inline-block {
    display: inline-block !important
}

@media (max-width:1205px) {
    .w3-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .w3-dropdown-click.w3-mobile .w3-button {
        width: 100%
    }
}

@media (max-width:600px) {
    .w3-dropdown-click.w3-mobile .w3-btn {
        width: 100%
    }
}

@media (max-width:600px) {
    .w3-dropdown-click.w3-mobile {
        width: 100%
    }
}

@media (max-width:600px) {
    .w3-dropdown-hover.w3-mobile .w3-button {
        width: 100%
    }
}

@media (max-width:600px) {
    .w3-dropdown-hover.w3-mobile .w3-btn {
        width: 100%
    }
}

@media (max-width:600px) {
    .w3-dropdown-hover.w3-mobile {
        width: 100%
    }
}

@media (max-width:600px) {
    .w3-dropdown-click.w3-mobile {
        text-align: center
    }
}

@media (max-width:600px) {
    .w3-dropdown-hover.w3-mobile {
        text-align: center
    }
}

@media (max-width:600px) {
    width: 100% !important .w3-bar-item.w3-mobile {
        text-align: center
    }
}

@media (max-width:600px) {
    .w3-mobile {
        display: block;
    }
}

@media (max-width:600px) {
    .w3-hide-small {
        display: none !important
    }
}

@media (max-width:600px) {
    .w3-dropdown-click.w3-mobile .w3-dropdown-content {
        position: relative
    }
}

@media (max-width:600px) {
    .w3-dropdown-hover.w3-mobile .w3-dropdown-content {
        position: relative
    }
}

@media (max-width:600px) {
    width: auto !important .w3-modal {
        padding-top: 30px
    }
}

@media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
    }
}

.w3-top,
.w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.w3-top {
    top: 0
}

.w3-bottom {
    bottom: 0
}

.w3-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}
